{% extends 'index.html' %}
{% load i18n static %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><b>Password recovery</b></div>
            <div class="panel-body">
            <form method="post">
                {% csrf_token %}

                <p>{% trans "In order to recover your password, please write the email associated to it." %}</p>

                <div class="form-group">
                    <div class="col-md-2 text-right">
                        <label class="control-label">{{ form.email.label }}</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.email }}
                    </div>
                  {% if form.email.errors %}
                    <div class="col-md-8 col-md-offset-2">
                      {% for error in  form.email.errors %}
                        <span class="label label-warning">{{ error}}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>

                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Recover' %}" class="default" />
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
